<!DOCTYPE html>
<html>
    <head>
        <title>Lilith's Snarky Thoughts</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Lilith's Snarky Thoughts</h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>This is where I type stuff that I'm thinking.</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Hoi!</p>
        </article>
    </body>
</html>